/* Ajustes específicos da página de Cadastro */
.containerCadastro {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -2rem;
}

.form-containerCadastro {
    background-color: #fff;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1px 6px rgba(128, 128, 128, 0.742);
}

.password-containerCadastro {
    display: flex;
    position: relative;
}

.icon {
    display: block;
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
}
